@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

#wrap {
    width: 100%;
    height: auto;

}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}

/* 헤더 */


header {
    width: 100%;
    height: 100px;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h2 {
    font-size: 30px;
}

.logo span {
    border: 2px solid #333;
    border-radius: 40px;
    padding: 0 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;

}

.logo span input[type="text"] {
    outline: none;
    border: none;
    padding: 5px 10px;
}

.logo span button img {
    width: 30px;
    height: 30px;

}

.logo span button {
    background-color: white;
    border: none;
}

.logo span button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.icon {
    width: 200px;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;

}

.icon p:hover {
    color: #01bfff;
    transition: 0.5s;
}

.icon a img {
    width: 20px;
    height: 20px;
}

header>.container>a {
    display: none;
}


/* 네비게이션 */

nav {
    width: 100%;
    height: 50px;
}

nav .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav .container img {
    cursor: pointer;
}

nav .container>ul {
    display: flex;
}

nav .container>ul>li>a {
    display: inline-block;
    padding: 13px;
    transition: 0.5s;
}

nav .container>ul>li>a:hover {
    color: #01bfff;
}

.menu {
    width: 100%;
    height: 250px;
    z-index: 5;
    display: flex;
    background-color: white;
    justify-content: flex-start;
}

.menu {
    display: none;
}

.list {
    margin: 0 30px;
    width: 10%;
}

.list dl dt {
    border-bottom: 2px solid #555;
    font-size: large;
    font-weight: bold;
    padding: 10px 0;

}

.list dl dd li {
    padding: 5px 0;
}





/* 풋터 네비*/
.footernav {
    width: 100%;
    height: 50px;
}

.footernav ul {
    display: flex;
}

.footernav ul li {
    padding: 13px 20px;
}

.footernav ul li a:hover {
    text-decoration: underline;
}

/* 풋터 */

footer {
    width: 100%;
    height: 300px;
}

footer .container {
    display: flex;
    align-content: space-around;
    justify-content: space-around;

}

.textbox7 {
    width: 30%;
}

.textbox7:nth-of-type(2) {
    background-color: #eee;
    border-radius: 10px;

}

.textbox7 p {
    padding: 15px;
}

.textbox7 p b {
    font-size: larger;
}

.textbox7 p b:nth-of-type(1) {
    font-size: xx-large;
}

.textbox7 p b img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 5px;
}

.textbox7:nth-of-type(3) p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 5px;
}

.textbox7:nth-of-type(3) p {
    background-color: #eee;
    border-radius: 10px;
}


.copyright {
    width: 100%;
    font-size: 13px;
    text-align: center;
}

@media (max-width:749px) {

    /* 헤더 */
    .container {
        width: 100%;
    }

    .icon {
        display: none;
    }

    header>.container>a {
        display: inline-block;
    }

    nav {
        display: none;
    }


    /* 풋터 네비 */

    .footernav{
        height: auto;
    }

    .footernav ul {
        width: 100%;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
    }

    .footernav ul li {
        padding: 0;
        font-size: 10px;
    }


    /* 풋터 */

    footer {
        height: auto;
    }

    footer .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;

    }

    .textbox7 {
        width: 48%;
        margin: 10px 0;
    }

    .textbox7 p {
        font-size: 12px;
        padding: 5px;
    }

    .textbox7:nth-of-type(3) {
        display: none;
    }

    .copyright {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    .copyright span {
        display: none;
    }


}

@media (min-width:750px) and (max-width:1216px) {

    /* 헤더 */
    .container {
        width: 100%;
    }

    .icon {
        display: none;
    }

    header>.container>a {
        display: inline-block;
    }

    nav {
        display: none;
    }


    /* 풋터 네비 */
    .footernav {
        height: auto;
    }

    .footernav ul {
        width: 100%;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
    }

    .footernav ul li {
        padding:0;
        font-size: 15px;
    }

  

    
    /* 풋터 */

    footer {
        height: auto;
    }

    footer .container {
        display: flex;
        align-content: space-around;
        justify-content: space-around;

    }

    .textbox7 {
        width: 45%;
        margin: 1%;
    }

    .textbox7:nth-of-type(2) {
        font-size: 15.5px;
    
    }



    .textbox7:nth-of-type(3){
        width: 92%;
    }


    .copyright {
        width: 99%;
        font-size: 9.5px;}


}