@charset "utf-8";






/* 모바일사이즈 */

@media (max-width:749px) {

    /* 헤더 */
    .container {
        width: 100%;
    }
    .logo h2{
       font-size: 4vw;
    }
    

    .icon {
        display: none;
    }

    header>.container>a {
        display: inline-block;
    }
    header .container{
        width: 90%;
    }
    .logo span{
        width: 60%;
        overflow: hidden;
    }

    nav{
        height: auto;
    }
    nav .container{
       display: none;
    }

    nav .container img{
        display: none;
    }
    nav>.container>ul{
        display: none;
    }
    .menu{
        height: auto;
        display: flex;
        flex-flow: wrap;
        
    }
    .list {
        margin: 2%;
        width: 20%;
    }
    .list dl dd li {
        padding: 5px 0;
        font-size: 15px;
    }


    /* 풋터 네비 */

    .footernav{
        height: auto;
    }

    .footernav ul {
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        flex-flow: wrap row;
        margin: 15px 0;
    }

    .footernav ul li {
        width: 20%;
        padding: 0;
        font-size: 2.5vw;
        margin: 2%;
    }


    /* 풋터 */

    footer {
        height: auto;
    }

    footer .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-around;

    }

    .textbox7 {
        width: 80%;
        margin: 3% 0;
    }

    .textbox7 p {
        font-size: 12px;
        padding: 3%;
    }

    .textbox7:nth-of-type(3) {
        display: none;
    }

    .copyright {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    .copyright span {
        display: none;
    }


}



/* 테블릿 사이즈 */

@media (min-width:750px) and (max-width:1216px) {

    /* 헤더 */
    .container {
        width: 100%;
    }

    header .container{
        width: 90%;
    }
    

    .icon {
        display: none;
    }
    
    header>.container>a {
        display: inline-block;
    }

    nav{
        width: 100%;
        height: auto;
    }
    nav .container{
        display: none;
     }

    nav .container img{
        display: none;
    }
    nav>.container>ul{
        display: none;
    }
    .menu{
        display: flex;
        height: auto;
        flex-flow: wrap row;
    }
    .list {
        margin: 2%;
        width: 20%;
    }


    /* 풋터 네비 */
    .footernav {
        height: auto;
    }

    .footernav ul {
        width: 100%;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
    }

    .footernav ul li {
        padding:0;
        font-size: 15px;
    }

  

    
    /* 풋터 */

    footer {
        height: auto;
    }

    footer .container {
        display: flex;
        align-content: space-around;
        justify-content: space-around;

    }

    .textbox7 {
        width: 45%;
        margin: 1%;
    }

    .textbox7:nth-of-type(2) {
        font-size: 15.5px;
    
    }



    .textbox7:nth-of-type(3){
        width: 92%;
    }


    .copyright {
        width: 99%;
        font-size: 9.5px;
        margin: 2%;
    }


}

@media (max-width:499px) {

    .logo {
        width: 100%;
        display: flex;
        justify-content:flex-start;
        margin:  0 2%;
    }

    .logo span {
        display: none;
    }
    .logo h2{
        margin: 0 2%;
        font-size: 20px;
     }
    
}