@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}



/* 헤더 */
#wrap {
    width: 100%;
    height: auto;

}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}

header {
    width: 100%;
    height: 100px;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h2 {
    font-size: 30px;
}

.logo span {
    border: 2px solid #333;
    border-radius: 40px;
    padding: 0 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    
}

.logo span input[type="text"] {
    outline: none;
    border: none;
    padding: 5px 10px;
}

.logo span button img{
    width: 30px;
    height: 30px;
   
}

.logo span button {
    background-color: white;
    border: none;
}

.logo span button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.icon {
    width: 200px;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
    
}
.icon p:hover{
    color: #01bfff;
    transition: 0.5s;
}
.icon a img{
    width: 20px;
    height: 20px;
}


/* 네비게이션 */

nav {
    width: 100%;
    height: 50px;
}
nav .container{
    display: flex;
    align-items: center;
}
nav .container ul{
    display: flex;
}
nav .container ul li a{
    display: inline-block;
    padding: 10px 30px;
    transition: 0.5s;
}
nav .container ul li a:hover{
    color: #01bfff;
}



/* 슬라이더 */

#slider {
    width:100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
  
}
.move{
    width: 300%;
    height: 100%;
    margin: 0 auto;
    
}
.move li{
    width: 33.33%;
    height:100%;
    float: left;
}

.move li .img1{
    background-image: url(../img/Egypt.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.move li .img2{
    background-image: url(../img/paris.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.move li .img3{
    background-image: url(../img/swiss.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.textbox{
    position: absolute;
    left: 50%;
    top: 30%;
    translate: -50% 0;
    text-align: center;
   
  
    
}
.textbox h2{
    color: white;
    font-size: 50px;
    letter-spacing: 30px;
    
    text-shadow: 0 0 10px #444;

}
.textbox p{
    font-weight: 500;
    font-size: 20px;
    
    text-shadow: 0 0 4px #ddd;
    margin: 10px;
}
.textbox a{
    padding: 0 20px;
   
    border-radius: 10px;
    opacity: 1;
    transition: 0.4s;
     background-color: #ddd;
    border: 3px solid white;
}
.textbox a:hover{
    opacity: 0.6;
   

}




.move li .img2{
    background-image: url(../img/paris.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
   
}
.move li .img3{
    background-image: url(../img/swiss.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;
   
}


/* 선택박스 */


.select-box {
    width: 100%;
    height: 300px;
    position: relative;
    
}
.select-box .container{
    position: absolute;
    top: -30%;
    left: 50%;
    translate: -50% 0;
    background-color: white;
    border: 3px solid #01bfff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}
.select-box .container h2{
    width: 100%;
    text-align: center;
    font-size: 30px;

}
.city{
    width: 25%;
  
    border: 2px solid #555;
}
.container select{
    width: 25%;
    border: 2px solid #555;
}
.container .date{
    width: 25%;
    border: 2px solid #555;
}
.select-box .container a{
    width: 30%;
    text-align: center;
    background-color: #01bfff;
    padding: 10px;
    border-radius: 10px;
}






/* 문단1 */

#article1 {
    width: 100%;
    height: 600px;
}
#article1 h2 {
    width: 100%;
    text-align: center;
   margin: 50px 0;

}

.slidewrap{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-color: #01bfff;
   
}

.slidewrap .tour{
    width: 200%;
    height: 100%;
}

.tour li {
    width: 16.34%;
    height: 300px;
    background-color: gold;
    float: left;
   
}

    
   




.tour1 .imgbox{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50%;
}


/* 문단2 */

#article2 {
    width: 100%;
    height: 700px;
    background-color: blanchedalmond;
}


.vanner {
    width: 100%;
    height: 150px;
    background-color: coral;
}

/* 문단3 */

#article3 {
    width: 100%;
    height: 600px;
    
}

#article3 h2 {
    text-align: center;
    padding-top: 50px;

}

.tour2 {
    height: 100%;
    display: flex;
    justify-content: center;


}

.tour2 a {
    width: 15%;
    height: 30%;
    border-radius: 50%;
    background-color: cornflowerblue;
    margin: 120px 10px;
    position: relative;

}

.tour2 a p {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 20px;
    color: white;

}




/* 문단4 */


#article4 {
    width: 100%;
    height: 500px;
    background-color: darkturquoise;
}

/* 문단5 */


#article5 {
    width: 100%;
    height: 700px;
    background-color: darkorchid;
}


/* 문단6 */


#article6 {
    width: 100%;
    height: 500px;
    background-color: cornflowerblue;
}

.footernav {
    width: 100%;
    height: 50px;
    background-color: azure
}

footer {
    width: 100%;
    height: 300px;
    background-color: darkorange;
}